:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --bg-color-filter: #f5f4fa;
  --bg-color-footer-header: #2f303a;
  --secondary-logo-color: #000000;
  --hover-button-color: #188CE8;
  --border-header-color:#ECECEC;
  --font-color-link-footer:rgba(255, 255, 255, 0.6);
  --color-icon: #AFB1B8;
  --bg-icon-footer: rgba(255, 255, 255, 0.1);
  --bg-position-block: rgba(47, 48, 58, 0.8);
  --bg-overlay: rgba(33, 150, 243, 0.9);
  --bg-backdrop: rgba(0, 0, 0, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.main-nav {
  display: flex;
  align-items: center;
}

.style {
  border: 1px solid var(--border-header-color);
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;

  
  
}

.logo:hover .logo-style,
.logo:focus .logo-style,
.nav-item .link:hover,
.nav-item .link:focus,
.link:hover,
.link:focus 
{
  color: var(--accent-color);
}

.logo-style {
  color: var(--secondary-logo-color);
  transition: color var(--duration) var(--timing-function);
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* navigation */

.header-c .link {
  display: flex;
  align-items: center;
}

.nav-item {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
}

.item-f {
  margin-right: 10px;
  cursor: pointer;
  fill: currentColor;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .nav-item + .nav-item {
  margin-left: 50px;
}

.nav-item .link {
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color var(--duration) var(--timing-function);
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
}

.site-nav .link.current {
  color: var(--accent-color);
}

.nav-item {
  position: relative;
}

.site-nav .link.current::after {
  content: '';

  position: absolute;
  width: 100%;
  bottom: -1px;

  display: flex;

  height: 4px;
 
  background-color: var(--accent-color);
  border-radius: 2px; 
}



/* contacts  */

.contacts {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts.header-c {
  display: flex;
  margin-left: auto;
}

.contacts .nav-item+.nav-item {
  margin-left: 50px;
}

.link {
  color: var(--primary-text-color);
  text-decoration: none;

  transition: color var(--duration) var(--timing-function);
}

/* hero */

.hero {
  height: 600px;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;

   background-image:
   linear-gradient(to top, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
  url(../image/main-img-sq.jpg);  

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero.accent-bg {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 696px;
  margin: 0 auto 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  padding: 10px 32px;
  min-width: 200px;
  display: block;
  margin: 0 auto;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center; 
  letter-spacing: 0.06em;

  cursor: pointer;
  border: none;
  border-radius: 4px;

  transition: background var(--duration) var(--timing-function),
  box-shadow var(--duration) var(--timing-function);
}

.button:hover,
.button:focus {
  background: var(--hover-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-backdrop);

  z-index: 1;
  opacity: 1;
  visibility: visible;

  transition: opacity var(--duration) var(--timing-function),
  visibility var(--duration) var(--timing-function);
  }

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.backdrop.is-hidden .modal {
  transform: translate(-50%,-50%) scale(2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
 
  width: 528px;
  height: 581px;
  
  background-color: var(--primary-white-color);
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--duration) var(--timing-function); 
}

.modal-exit {
  position: absolute;
  top: 8px;
  right: 8px;
  
  padding: 0;
  border: none;
  background-color: var(--primary-white-color);
  cursor: pointer;

  transition: color var(--duration) var(--timing-function); 
}

.modal-exit:hover,
.modal-exit:focus {
  color: var(--accent-color);
}

.registr {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-header {
  display: block;

  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  
}
.position-input {
  display: inline-block;
  color: var(--primary-text-color);
  position: relative;
  margin-bottom: 10px;
  
}

.input-field {
  display: inline-block;
  width: 448px;
  height: 40px;
  padding: 0;
  padding-left: 42px;
  

  border: 1px solid rgba(117, 117, 117, 0.5);
  border-radius: 4px;
  color: rgba(117, 117, 117, 0.5);

  transition: border-color var(--duration) var(--timing-function);
}

.icon-modal {
  position: absolute;
  left: 12px;
  transform: translateY(11px);
  fill: currentColor;
  color: var(--secondary-logo-color);
  transition: color var(--duration) var(--timing-function);
}

.position-input:focus-within .icon-modal {
  color: var(--accent-color);
}

.position-input:focus-within .input-field {
  border-color: var(--accent-color);
  outline: none;
}

.input-text {
  display: flex;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  

  line-height: 1.14;
  letter-spacing: 0.01em;
}

.textarea-margin {
  margin-bottom: 20px;
}
.policy {
  color: var(--accent-color);
}
.agreement {
  display: flex;
  align-items: center;

  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;

}
.check {
   /* appearance: none; */
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.custom-checkbox {
  display: inline-block;
  margin-right: 8.4px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-logo-color);
  border-radius: 2px;

  transition: border-color var(--duration) var(--timing-function),
  background-color var(--duration) var(--timing-function);
}

.check:checked + .custom-checkbox {
  background-color: var(--accent-color);
  background-image: url(../image/vector-1.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-color: var(--accent-color);
}

.check:focus  + .custom-checkbox,
.check:hover  + .custom-checkbox {
  border-color: var(--accent-color);
}

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 50px;
  margin: 0 auto;

  border: none;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);

  cursor: pointer;
}

/* competencies  */

.items-s {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--bg-color-filter);
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.competencies {
  display: flex;
}

.comp-item {
  width: 270px;
}

.images .list-img + .list-img {
  margin-left: 30px;
}

.competencies .comp-item + .comp-item {
  margin-left: 30px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.competencies .title {
  color: var(--title-text-color);

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}

.content {
  margin-top: 0;
  margin-bottom: 0;

  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* affairs */

.images {
display: flex;
}

.affairs {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.affairs .text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 370px;
  height: 70px;
  
  background-color: var(--bg-position-block);
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);

  position: absolute;
}

/* examples of main page */


.no-padding {
  padding-top: 0;
  padding-bottom: 94;
}
/* staffing  */

.staffing {
  display: flex;
  justify-content: center;
}

.staff-icon {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--color-icon);

  transition: background-color var(--duration) var(--timing-function),
  color var(--duration) var(--timing-function);
}
.color-icon {
  fill: currentColor;
}

.staff-icon:hover,
.staff-icon:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.bgcolor-staff {
  background-color: var(--bg-color-filter);
}
.staffing .title {
  margin-bottom: 10px;
  margin-top: 0;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.staff-stand {
  padding-top: 30px;
  padding-bottom: 30px;
}

.staff-name {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.staff-item {
  width: 270px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px 
  rgba(0, 0, 0, 0.12),
  0px 1px 1px
  rgba(0, 0, 0, 0.14),
  0px 2px 1px
  rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.staffing .staff-item + .staff-item {
  margin-left: 30px;
}
.staffing .staff-margin+.staff-margin {
  margin-left: 10px;
}

/* clients */

.clients {
  color: var(--color-icon);
}

.staffing .clients+.clients {
  margin-left: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  cursor: pointer;
  color: var(--color-icon);

  transition: border var(--duration) var(--timing-function),
  color var(--duration) var(--timing-function);
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

/* footer  */

.logo-footer {
  color: var(--primary-white-color);
}

.logo-style.logo-footer {
  color: var(--primary-white-color);
}

.logo-f  {
  /* display: inline-block; */
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
.adress {
  margin-bottom: 9px;
}


.link-design,
.adress {
  font-weight: 400;
  line-height: 1.7;
}

.link-design {
  color: var(--font-color-link-footer);
}

.accent-bg {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bg-color-footer-header);
}

.flex {
  display: flex;
  align-items: baseline;
}
.footer-stand {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  color: var(--primary-white-color);
}

.footer-header {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-icon {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--color-icon);
  
    transition: background-color var(--duration) var(--timing-function);
}
.color-footer-icon {
  fill: var(--primary-white-color);
  }

.footer-icon:hover,
.footer-icon:focus {
  background-color: var(--accent-color);
}

.circle {
  border-radius: 50%;
  background: var(--bg-icon-footer);
  color: var(--primary-white-color);
}
.list .circle+.circle {
  margin-left: 10px;
}

/* classes for portfolio only*/
.sect-padding {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* filter  */

.filter-disp {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.filter-disp .filter-item + .filter-item {
  margin-left: 8px;
}

.filter {
  color: var(--title-text-color);
  background-color: var(--bg-color-filter);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;

  cursor: pointer;
  border: none;
  border-radius: 4px;

  padding: 6px 22px;

  transition: background-color var(--duration) var(--timing-function),
  color var(--duration) var(--timing-function),
  box-shadow var(--duration) var(--timing-function);
}

.main-button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.filter:hover,
.filter:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* examples  */
.examples {
  display: flex;
  flex-wrap: wrap;
}
.examp-flex {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.examp-flex:nth-child(3n) {
  margin-right: 0;
}

.examp-flex:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.link-examples {
  display: block;
  color: var(--primary-text-color);
  text-decoration: none;

  transition: box-shadow var(--duration) var(--timing-function);
}

.link-examples:hover,
.link-examples:focus
 {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}


.thumb {
  position: relative;
  overflow: hidden; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  
  background-color: var(--bg-overlay);
  
  opacity: 0;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);

  transform: translateY(101%);
  transition: transform var(--duration) var(--timing-function);
}

.link-examples:hover .overlay,
.link-examples:focus .overlay {
  opacity: 1;
  transform: translateY(0);
}

.examp-stand {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}

.example-title {
  margin-bottom: 4px;
  margin-top: 0;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example-text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

/* form */
.form {
 margin-left: auto;
 }

.wrapper {
  display: flex;
}

.form-input {
  width: 358px;
  
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--bg-color-footer-header);
  color: var(--font-color-link-footer);

}
.form-text {
  display: block;
  margin-bottom: 20px;
  margin-top: 0;
    
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.input-button {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  margin-left: 12px;
  padding: 10px 28px 10px 29px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;

  cursor: pointer;
}
.icon-input {
  margin-left: 10px;
}

/* #2F303A color back hero */
/* 2196F3 color hover head  */
/* 212121 cjljr text head */
/* 757575 color  link  */
/* 2196F3 color hover link */
/* FFFFFF hero color  */
/* FFFFFF button color  */
/* 757575 color text section 2  */
/* 212121 color header section 2 */
/* #F5F4FA color section our staff  */
/* #2F303A color back footer  */
/* 000000 logo color  */



