@import 'utils/vars';
@import 'utils/mixines';
@import 'utils/plaseholders';
@import 'components/container';
@import 'components/section-title';
@import 'components/navigation';
@import 'components/contacts';
@import 'components/buttons';
@import 'components/page-header';
@import 'components/logo';
@import 'components/hero';
@import 'components/modal';
@import 'components/competence';
@import 'components/affairs';
@import 'components/staff';
@import 'components/socials';
@import 'components/clients';
@import 'components/footer';
@import 'components/filter';
@import 'components/examples';
@import 'components/project';