.affairs {
    @extend %list;

    display: flex;

    &__item+&__item {
    margin-left: 30px;
    }
}

.affairs__card {
    position: relative;

    @include flex (flex, flex-end);
}

.affairs__text {
    @include flex (flex, center, center);
    
    margin: 0;
    width: 370px;
    height: 70px;

    background-color: var(--bg-position-block);
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);

    position: absolute;
}