.clients {
    @extend %list;

    @include flex (flex, none, center);

    &__icon {
        fill: currentColor;
    }
}

.clients__item {
    color: var(--color-icon);

    &+& {
        margin-left: 30px;
    }
}

.clients__link {
    @include flex (flex, center, center);

    width: 170px;
    height: 92px;

    border: 1px solid var(--color-icon);
    border-radius: 4px;
    color: var(--color-icon);

    transition: border var(--duration) var(--timing-function),
        color var(--duration) var(--timing-function);

        &:hover, &:focus {
            border: 1px solid var(--accent-color);
            color: var(--accent-color);
        }
}



