.contacts {
    @extend %list;

    display: flex;
    margin-left: auto;

    color: var(--primary-white-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    &__item+&__item {
        margin-left: 30px;
    }
}

.contacts__link {
    @extend %link;

    @include flex (flex, center);

    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts__icon {
    margin-right: 10px;
    cursor: pointer;
    fill: currentColor;
}