.logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.logo__style {
    color: var(--secondary-logo-color);
    transition: color var(--duration) var(--timing-function);

    .logo:hover &, .logo:focus & {
        color: var(--accent-color);
    }
}

.logo__color {
    color: var(--primary-white-color);
}

.logo__position {
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
}