.style {
    border: 1px solid var(--border-header-color);
}

.head-wrap {
    @include flex (flex, center);
}

.nav {
    @include flex (flex, center);
}

.site-nav {
    @extend %list;

    display: flex;
    margin-left: 93px;
}

.site-nav__item {
    @include flex (flex, center);

    color: var(--primary-text-color);

    position: relative;

    &:hover, &:focus {
    color: var(--accent-color);
    }

    &+& {
    margin-left: 50px;
    }
}

.site-nav__link {
    @extend %link;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    &--current {
        color: var(--accent-color);
    }

    &--current::after {
        content: '';
        
        position: absolute;
        width: 100%;
        bottom: -1.5px;
        
        display: flex;
        
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
    }
}

.contacts {
    @extend %list;
    
    display: flex;
    margin-left: auto;

    color: var(--primary-white-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    &__item+&__item {
        margin-left: 30px;
    }
}

.contacts__link {
    @extend %link;

    @include flex (flex, center);

    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts__icon {
    margin-right: 10px;
    cursor: pointer;
    fill: currentColor;
}