.socials {
    @extend %list;

    @include flex (flex, none, center);

    &__icon {
        fill: currentColor;
    }
}

.socials__item+.socials__item {
    margin-left: 10px;
}

/* this selector should be placed before 
"social__link hover" selector, because of same 
specifity */

.footer-stand .socials__link {
    background-color: var(--bg-icon-footer);
    color: var(--primary-white-color);
}

.socials__link {
    @include flex (flex, center, center);
    
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--color-icon);

    transition: background-color var(--duration) var(--timing-function),
        color var(--duration) var(--timing-function);

    &:hover, &:focus {
        background-color: var(--accent-color);
        color: var(--primary-white-color);
    }
}


